<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391288208149-dh2ls9gq0gc838icf5ir4pocifq2ucn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391288208149-dh2ls9gq0gc838icf5ir4pocifq2ucn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391288208149-7prathm7eludc4cfcpiaq7rjc24fdjhg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw0A2OlMm8ZPrb5Ik626XjvLEdcRyU7ng</string>
	<key>GCM_SENDER_ID</key>
	<string>391288208149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-a4d56</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-a4d56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391288208149:ios:9f5c310d3b3e541e48471c</string>
</dict>
</plist>